<div class='container'>
  <h1>About This Project </h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Planner Thing - Projet until my million dollar idea comes.</h5>
      <p class="card-text">A house orgainzer for my wife and I to be better</p>
      <p class="card-text">shopping list, to do items, thing to remember and events?</p>
      <p class="card-text">Maybe a message board because - gotta stay fresh!</p>
      <a class="card-link" routerLink="/home">Home</a>
      <a class="card-link" href="https://github.com/leederacola/plannerthing">GitHub Repo</a>
    </div>
  </div>
</div>

