<!-- <nav class="navbar navbar-dark bg-dark">
  <a routerLink="/home">Home</a>
  <a routerLink="/groceries">groceries</a>
  <a routerLink="/house">house</a>
  <a routerLink="/about">About</a>
  <a routerLink="/events">Events</a>
  <a routerLink="/future">future things</a>
</nav>
 -->

 <!-- <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">  | R Y A N - M A D D E N |  </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myBar" aria-controls="myBar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myBar">
          <ul class="nav navbar-nav">
              <a class="nav-item nav-link" routerLink="/home">/Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" routerLink="/home">/My Stats</a>
              <a class="nav-item nav-link" routerLink="/home">/Links and Such</a>
              <a class="nav-item nav-link" routerLink="/home">/Resume</a>
              <a class="nav-item nav-link" routerLink="/home">/Contact</a>
          </ul>
      </div>
  </div>
</nav> -->

<!-- <div class="row">
    <div class="col-xs-12 col-12">
      <pre class="card card-block card-header mb-3" *ngFor="let message of messages">{{message}}</pre>
    </div>
    <div class="col-xs-12 col-12 mb-3">
      <div class="btn-group"
           dropdown
           (onShown)="handler('onShown')"
           (onHidden)="handler('onHidden')">
        <button id="button-visbility" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-visbility">
          Menu<span class="caret"></span>
        </button>
        <ul id="dropdown-visbility" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-visbility">
          <li><a class="dropdown-item" routerLink="/home">Home</a></li>
          <li><a class="dropdown-item" routerLink="/about">About</a></li>
          <li><a class="dropdown-item" routerLink="/home">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div> -->

  <mat-toolbar color="primary">
    <span>| Angular Thing |</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="nav-filler"></span>
  
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/home">Home</button>
        <button mat-menu-item routerLink="/about">About</button>
      </mat-menu>
      
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
  </mat-toolbar>