<div class="container">
  <h1>Welcome to Home Page!</h1>
  <h3>imagine these cards have dash-board like content please!</h3>
  <h5>maybe my wife and I can add to these  to better our productivity/communication</h5>
  <h6>im sure shared calendars and list exist but i needed something to make.</h6>
  <div class="container dashboard">
    <div class="row">
      <div class="col-sm">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">House</h5>
            <p class="card-text">house to do</p>
            <a routerLink="/house">house</a>
          </div>
        </div>

      </div>
      <div class="col-sm">       
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Groceries</h5>
              <p class="card-text">don't forget to buy these food items</p>
              <a routerLink="/groceries">groceries</a>
            </div>
          </div>
     
      </div>
    </div>
    <div class="row">
      <div class="col-sm">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Events</h5>
            <p class="card-text">we probably have to leave the house ;(</p>
            <a routerLink="/events">Events</a>
          </div>
        </div>

      </div>
      <div class="col-sm">

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Future Things</h5>
            <p class="card-text">stuff I aint got money for right now ;(</p>
            <a routerLink="/future">future things</a>
          </div>
        </div>

      </div>
    </div>



  </div>
</div>