<div class="container">
  <h1>Welcome to Home Page!</h1>

  <h3>Angular Playground</h3>
  <h5>I'll most likely use this as trail grounds for angular things</h5>
  <h6>Please pretend I put effort in visuals, view it as a blank canvas not an empty wasteland</h6>

  <div class="row container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">House</h5>
      <p class="card-text">house to do</p>
      <a routerLink="/house">house</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Groceries</h5>
      <p class="card-text">don't forget to buy these food items</p>
      <a routerLink="/groceries">groceries</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Events</h5>
      <p class="card-text">we probably have to leave the house ;(</p>
      <a routerLink="/events">Events</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Future Things</h5>
      <p class="card-text">stuff I aint got money for right now ;(</p>
      <a routerLink="/future">future things</a>
    </div>

  </div>

</div>
  </div>